{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html lang = "en">
   <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Flask 
            SQLAlchemy example</a>
      </h3>

      <h3>Students (<a href = "{{ url_for('newstudent') }}">Add Student
    </a>)</h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      {% block main %}
      {% endblock %}
      {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
      
   </body>
</html>