{% extends "base.html" %}
{% block main %}
<table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Country</th>
               <th>Actions</th>
            </tr>
         </thead>
         
         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.country }}{{ student.id }} </td>
                  <td><a href = "{{ url_for('savejob', stid=student.id) }}">Add Job</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}
